<!DOCTYPE html>
<html>
<head th:include="include/head" th:with="title='综合查询'"></head>
<body style="background-color: #00011f;">
	<header class="header">
		<h1>卡口数据可视化</h1>
	</header>
	<div class="container-fluid main">
		<div class="row">
			<div class="col-xs-2">
				<div class="aside" id="aside" th:include="@{include/aside}"></div>
			</div>
			<div class="col-xs-10 all-data-out">
				<div class="all-data">
					<div class="all-search">
						<div class="title-primary all-search-title">查询区域</div>
						<div class="all-search-box">
							<div class="row all-search-box-input1">
								<div class="col-sm-4">
									<span>卡口：</span><input class="input-primary" type="text" id="cross-name" />
								</div>
								<div class="col-sm-4 start-time">
									<span>从：</span>
									<div class="calendar" th:include="@{include/calendar2}"
										id="start-time"></div>
								</div>
								<div class="col-sm-4 end-time">
									<span>到：</span>
									<div class="calendar" th:include="@{include/calendar2}"
										id="end-time"></div>
								</div>
							</div>
							<div class="row all-search-box-input2">
								<div class="col-sm-4">
									<span>车牌：</span><input class="input-primary" type="text" id="plate-no" />
								</div>
								<div class="col-sm-4">
									<span>预警类型：</span><select class="input-primary" id="alert-type"></select>
								</div>
								<div class="col-sm-4">
									<span>车辆类型：</span><select class="input-primary" id="plate-type"></select>
								</div>
							</div>
							<div class="row all-search-box-btn">
								<div class="col-xs-6">
									<button id="search-btn" class="btn-search">综合查询</button>
								</div>
								<div class="col-xs-6">
									<button id="save-btn" class="btn-save">保存结果</button>
								</div>
							</div>
						</div>
					</div>
					<div class="all-result">
						<div class="title-primary all-result-title">详情列表</div>
						<div class="all-result-box"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--
	<div class="container clearfix">
		<div class="aside" id="aside" th:include="@{include/aside}"></div>
		<section class="content">
			<div class="all-query">
				<div class="all-search">
					<div class="all-search-desc">查询区域</div>
					<div class="all-search-box">
						<div class="cross-name">
							<span>卡口</span><input type="text" id="cross-name" />
						</div>
						<div class="plate-no">
							<span>车牌</span><input type="text" id="plate-no" />
						</div>
						<div class="start-time">
							<span>从</span>
							<div class="calendar" th:include="@{include/calendar2}"
								id="start-time"></div>
						</div>
						<div class="end-time">
							<span>到</span>
							<div class="calendar" th:include="@{include/calendar2}"
								id="end-time"></div>
						</div>
						<div class="alert-type">
							<span>预警类型</span><select id="alert-type"></select>
						</div>
						<div class="plate-type">
							<span>车辆类型</span><select id="plate-type"></select>
						</div>
						<button id="search-btn">综合查询</button>
						<button id="save-btn">保存结果</button>
					</div>
				</div>
				<div class="all-result">
					<div class="all-result-desc">详情列表</div>
					<div class="all-result-box"></div>
				</div>
			</div>
		</section>
	</div>
	  -->

	<footer th:include="@{include/footer}" class="footer"></footer>
	<script th:src="@{js/common.js}" async="async" defer="defer"></script>
	<script th:src="@{libs/My97DatePicker/WdatePicker.js}" async="async"
		defer="defer"></script>
	<script th:src="@{libs/tableExporter/tableExporter.min.js}"
		async="async" defer="defer"></script>
	<script th:src="@{js/all-query.js}" async="async" defer="defer"></script>
</body>
</html>
