<!DOCTYPE html>
<html>
<head th:include="include/head" th:with="title='卡口数据可视化'"></head>
<link rel="stylesheet" type="text/css" th:href="@{libs/datePicker/datepicker.min.css}" />
<script type="text/javascript" th:src="@{libs/datePicker/datepicker.min.js}"></script>
<script type="text/javascript" th:src="@{libs/datePicker/datepicker.zh-CN.js}"></script>
<body>
	<header class="header">
		<h1>卡口数据可视化</h1>
	</header>
	<div class="container-fluid main">
		<div class="row">
			<div class="col-md-2 col-sm-2 col-xs-2 col-lg-2">
				<div class="aside" id="aside" th:include="@{include/aside}"></div>
			</div>
			<div class="col-md-10 col-sm-10 col-xs-10 col-lg-10">
				<div class="data" id="data">
					<div class="title">初次入城分析</div>
					<form class="form-inline search">
						<div class="form-group">
							<input type="text" name="startTime" id="startTime" class="form-control mr10"
								placeholder="请输入日期 " />
							<input type="text" name="endTime" id="endTime" class="form-control mr10"
								placeholder="请输入日期 " />
							<button type="button" class="btn btn-primary" id="search_btn">查询</button>
						</div>
					</form>	
					<div class="result" id="result">
						<div class="result-data"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer th:include="@{include/footer}" class="footer"></footer>
	<script th:src="@{js/common.js}" async="async" defer="defer"></script>
	<script th:src="@{js/first-analysis.js}" async="async" defer="defer"></script>
</body>
</html>