<!DOCTYPE html>
<html>
<head th:include="include/head" th:with="title='主页'"></head>
<body>
	<header class="header">
		<h1>先知车辆预测平台</h1>
	</header>
	<div class="container-fluid main">
		<div class="row">
			<div class="col-md-2 col-sm-2 col-xs-2 col-lg-2">
				<div class="aside" id="aside" th:include="@{include/aside}"></div>
			</div>
			<div class="col-md-6 col-sm-6 col-xs-6 col-lg-6">
				<div class="map" id="map"></div>
				<div class="map-title">
					<h2>交通概念图</h2>
					<div class="calendar" th:include="@{include/calendar}"
						id="calendar"></div>
				</div>
				<div class="map-data" id="map_data">
					<div class="table-title">重点关注车辆列表</div>
					<div class="table-content">
						<div class="table-data"></div>
						<!-- <table>
							<thead>
								<tr>
									<th>卡口</th>
									<th>车牌</th>
									<th>时间段</th>
									<th>预警类型</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>琶洲</td>
									<td>粤9999</td>
									<td>11:00-12:00</td>
									<td>没车检</td>
								</tr>
								<tr>
									<td>琶洲</td>
									<td>粤9999</td>
									<td>11:00-12:00</td>
									<td>没车检</td>
								</tr>
								<tr>
									<td>琶洲</td>
									<td>粤9999</td>
									<td>11:00-12:00</td>
									<td>没车检</td>
								</tr>
								<tr>
									<td>琶洲</td>
									<td>粤9999</td>
									<td>11:00-12:00</td>
									<td>没车检</td>
								</tr>
								<tr>
									<td>琶洲</td>
									<td>粤9999</td>
									<td>11:00-12:00</td>
									<td>没车检</td>
								</tr>
								<tr>
									<td>琶洲</td>
									<td>粤9999</td>
									<td>11:00-12:00</td>
									<td>没车检</td>
								</tr>
								<tr>
									<td>琶洲</td>
									<td>粤9999</td>
									<td>11:00-12:00</td>
									<td>没车检</td>
								</tr>
								<tr>
									<td>琶洲</td>
									<td>粤9999</td>
									<td>11:00-12:00</td>
									<td>没车检</td>
								</tr>
								<tr>
									<td>琶洲</td>
									<td>粤9999</td>
									<td>11:00-12:00</td>
									<td>没车检</td>
								</tr>
								<tr>
									<td>琶洲</td>
									<td>粤9999</td>
									<td>11:00-12:00</td>
									<td>没车检</td>
								</tr>
								<tr>
									<td>琶洲</td>
									<td>粤9999</td>
									<td>11:00-12:00</td>
									<td>没车检</td>
								</tr>
								<tr>
									<td>琶洲</td>
									<td>粤9999</td>
									<td>11:00-12:00</td>
									<td>没车检</td>
								</tr>
							</tbody>
						</table> -->
					</div>
				</div>
				<div class="cross_info_box">
					<p class="cross_name"></p>
					<p class="value"></p>
					<p class="car_cross_cnt"></p>
				</div>
			</div>
			<div class="col-md-4 col-sm-4 col-xs-4 col-lg-4">
				<div class="map-analysis" id="map_analysis">
					<div class="analysis-title">警力分配</div>
					<div class="table-content">
						<div class="table-data"></div>
						<!-- <table>
							<thead>
								<tr>
									<th>卡口</th>
									<th>预测通过车辆</th>
									<th>人员</th>
									<th>时间</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>琶洲</td>
									<td>10</td>
									<td>2</td>
									<td>10:00:15:00</td>
								</tr>
								<tr>
									<td>琶洲</td>
									<td>10</td>
									<td>2</td>
									<td>10:00:15:00</td>
								</tr>
								<tr>
									<td>琶洲</td>
									<td>10</td>
									<td>2</td>
									<td>10:00:15:00</td>
								</tr>
								<tr>
									<td>琶洲</td>
									<td>10</td>
									<td>2</td>
									<td>10:00:15:00</td>
								</tr>
								<tr>
									<td>琶洲</td>
									<td>10</td>
									<td>2</td>
									<td>10:00:15:00</td>
								</tr>
								<tr>
									<td>琶洲</td>
									<td>10</td>
									<td>2</td>
									<td>10:00:15:00</td>
								</tr>
								<tr>
									<td>琶洲</td>
									<td>10</td>
									<td>2</td>
									<td>10:00:15:00</td>
								</tr>
							</tbody>
						</table> -->
					</div>			
					<div class="analysis-title">图表详情</div>
					<div class="line-content">
						<div class="line-data"></div>
						<!-- <div class="line">
							<div class="text">琶洲</div>
							<div class="rate">
								<div class="bg" style="width: 11%;"></div>
							</div>
						</div>	
						<div class="line">
							<div class="text">琶洲</div>
							<div class="rate">
								<div class="bg" style="width: 11%;"></div>
							</div>
						</div>
						<div class="line">
							<div class="text">琶洲</div>
							<div class="rate">
								<div class="bg" style="width: 11%;"></div>
							</div>
						</div>
						<div class="line">
							<div class="text">琶洲</div>
							<div class="rate">
								<div class="bg" style="width: 11%;"></div>
							</div>
						</div>
						<div class="line">
							<div class="text">琶洲</div>
							<div class="rate">
								<div class="bg" style="width: 11%;"></div>
							</div>
						</div>
						<div class="line">
							<div class="text">琶洲</div>
							<div class="rate">
								<div class="bg" style="width: 11%;"></div>
							</div>
						</div>
						<div class="line">
							<div class="text">琶洲</div>
							<div class="rate">
								<div class="bg" style="width: 11%;"></div>
							</div>
						</div>
						<div class="line">
							<div class="text">琶洲</div>
							<div class="rate">
								<div class="bg" style="width: 11%;"></div>
							</div>
						</div>
						<div class="line">
							<div class="text">琶洲</div>
							<div class="rate">
								<div class="bg" style="width: 11%;"></div>
							</div>
						</div>
						<div class="line">
							<div class="text">琶洲</div>
							<div class="rate">
								<div class="bg" style="width: 11%;"></div>
							</div>
						</div>
						<div class="line">
							<div class="text">琶洲</div>
							<div class="rate">
								<div class="bg" style="width: 11%;"></div>
							</div>
						</div>
						<div class="line">
							<div class="text">琶洲</div>
							<div class="rate">
								<div class="bg" style="width: 11%;"></div>
							</div>
						</div>
						<div class="line">
							<div class="text">琶洲</div>
							<div class="rate">
								<div class="bg" style="width: 11%;"></div>
							</div>
						</div>
						<div class="line">
							<div class="text">琶洲</div>
							<div class="rate">
								<div class="bg" style="width: 11%;"></div>
							</div>
						</div>	 -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer th:include="@{include/footer}" class="footer"></footer>
	<script th:src="@{js/common.js}" async="async" defer="defer"></script>
	<script th:src="@{js/index.js}" async="async" defer="defer"></script>
</body>
</html>
